# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# database
*.db

# env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/